<div class="container">
  <div class="jumbotron">
    <h1>Relevant</h1>
    <p>Kitsch bespoke kinfolk marfa truffaut, banjo put a bird on it coloring book
    wayfarers chartreuse roof party crucifix leggings quinoa drinking vinegar. Roof p
    arty put a bird on it ennui flexitarian selfies, vaporware farm-to-table keffiyeh
    pour-over. Chillwave umami literally humblebrag, fam kitsch snackwave food truck
    gluten-free roof party typewriter raw denim schlitz hashtag church-key. La croix
    brunch small batch wayfarers 8-bit umami</p>
    <p>
      <a class="btn btn-primary btn-lg" href="/news" role="button">What's Happening?</a>
    </p>
  </div>
</div>
