<!-- show news page -->
<div class="row">
  <% @sources.each do |source| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h2><%= source.name %></h2>


            <ul class="list-group">
              <% source.article.each do |article| %>
                  <li class="list-group-item">
                    <a href="<%= article["url"] %>" target="_blank">
                      <h4><%= article["title"] %></h4>
                    </a>
                    <p><%= article["description"] %></p>
                  </li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
  <% end %>
</div>
