<!-- current user information -->
<h3>Current User</h3>
<h4>This is our current user's id: <pre><%= @user.id %></pre></h4>
<h4>This is our current user's email: <pre><%= @user.email %></pre></h4>

<br>

<!-- user's news sources -->
<h3>Current User's News Source</h3>
<h4>This is the number of news sources for this user: <pre><%= @user_news_sources_count %></pre></h4>
<h4>This is the name of the current user's news source: <pre><%= @user_news_source %></pre></h4>

