/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'bootstrap.min.css'
 *= require_tree .
 *= require_self
 */

/* site wide */
body {
    padding-top: 70px;
    font-family: 'Cuprum', sans-serif;
    background-image: url('/newspapers.jpg');
}

/* navigation */
.navbar-brand {
    font-size: 3.5rem;
    letter-spacing: 5px;
}

/* manipulating the devise user forms */
h2:first-of-type {  display: none;  }
.new_user {
    width: 60%;
    margin: 10% auto;
    padding: 5%;
    background: rgba(255, 255, 255, 0.65);
    text-align: center;
    border-radius: 2%;
}
.new_user label {  font-size: 2.5rem;  }
.new_user input {
    width: 50%;
    height: 3rem;
    margin: 1%;
    border: none;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.25);
    text-align: center;
}
#user_remember_me {  display: none;  }
label[for=user_remember_me] {  display: none;  }
input[type=submit] {
    height: 4rem;
    width: 40%;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 2.5rem;
}
input[type=submit]:hover {  background: white;  }
.new_user ~ a {  display: none;  }

/* transparent & hover effects for articles */
.thumbnail {  background: rgba(255, 255, 255, 0.6)  }
.list-group-item {  background: rgba(255, 255, 255, 0.65);  }
.list-group-item:hover {  background: rgba(255, 255, 255, 0.8);  }

/* make images uniform */
img {
    max-height: 100px;
    max-width: 100px;
}

/* news sources */
.sources {  height: 125px;  }
.user-source {  background: rgba(152,251,152, 0.65);  }
.not-user-source {  background: rgba(255,255,255, 0.65);  }


/* scroll feature */
.gallery {
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0;
    width: 90%;
    height: 48vw;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100%);
    scroll-snap-destination: 50% 50%;
}